<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les dragons-Monde fantastique</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>Les Dragons</h1>
    <p>Les dragons sont des créatures mythiques présentes dans de nombreuses cultures à travers le monde.</p>
    
    <h2>Origines</h2>
    <p>En Asie, les dragons symbolisent la sagesse et la puissance. En Occident, ils sont souvent vus comme des créatures à combattre.</p>
    
    <h2>Caractéristiques</h2>
    <ul>
        <li>Souffle de feu</li>
        <li>Ailes puissantes</li>
        <li>Écailles résistantes</li>
    </ul>
    
    <h2>Dragons célèbres</h2>
    <p>Smaug dans "Le Hobbit", Drogon dans "Game of Thrones", Shenron dans "Dragon Ball".</p>
    <p>massi le gros noob est un dragon rouge </p>
</body>
</html>
